{% extends "att/base.html" %}

{% block title %}Setup{% endblock %}

{% block content %}
    <section class="panel is-link">
        <p class="panel-heading">Setup</p>
        <a href="{% url 'att:setup-calendar' %}" class="panel-block">
            <span class="panel-icon"><i class="fa-regular fa-calendar" aria-hidden="true"></i></span>
            Calendar
        </a>
        <a href="{% url 'att:setup-teachers' %}" class="panel-block">
            <span class="panel-icon"><i class="fa-solid fa-chalkboard-user" aria-hidden="true"></i></span>
            Teachers
        </a>
        <a href="{% url 'att:setup-students' %}" class="panel-block">
            <span class="panel-icon"><i class="fa-solid fa-user" aria-hidden="true"></i></span>
            Students
        </a>
        <a href="{% url 'att:setup-courses' %}" class="panel-block">
            <span class="panel-icon"><i class="fa-solid fa-book" aria-hidden="true"></i></span>
            Courses
        </a>
        <a href="{% url 'att:setup-timetables' %}" class="panel-block">
            <span class="panel-icon"><i class="fa-solid fa-clock" aria-hidden="true"></i></span>
            Timetables
        </a>
        <a href="{% url 'att:setup-lessons' %}" class="panel-block">
            <span class="panel-icon"><i class="fa-solid fa-person-chalkboard" aria-hidden="true"></i></span>
            Lessons
        </a>
        <a href="{% url 'att:setup-attendance-records' %}" class="panel-block">
            <span class="panel-icon"><i class="fa-solid fa-calendar-check" aria-hidden="true"></i></span>
            Attendance
        </a>
    </section>
{% endblock %}
