{% extends "att/base.html" %}

{% block title %}Setup attendance records{% endblock %}

{% block content %}

    <section class="panel is-link">
        <p class="panel-heading">Generate attendance records</p>
        <div class="panel-block">
            <form method="post" action="{% url 'att:generate-attendance-records' %}">
                {% csrf_token %}
                <button id="generate-attendance-records" type="submit" class="button is-primary is-fullwidth">
                    Generate
                </button>
            </form>
        </div>
    </section>

{% endblock %}
